{% extends 'template.html.twig' %}

{% block content %}
    <h1>Brands</h1>
    {% if all_brands is not empty %}
        {% for brand in all_brands %}
            <h3><a href='/brands/{{ brand.getId }}'>{{ brand.getName }}</a></h3>
        {% endfor %}
    {% else %}
        <p>There are no brands in the database.</p>
    {% endif %}

    <div class='panel panel-success'>
        <div class='panel-heading'>
            <h3 class='panel-title'>Add a brand:</h3>
        </div>
        <div class='panel-body'>
            <form action='/brands' method='post'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input id='name' name='brand-name' type='text' class='form-control'>
                </div>

                <button type='submit' class='btn btn-success'>Add</button>
            </form>
        </div>
    </div>

    <p><a href='/'>Home</a></p>
{% endblock %}
