{% extends 'template.html.twig' %}

{% block content %}
    <form method='get'>
        <div class='form-group'>
            <button type='submit' name='stores' formaction='/stores' class='btn btn-info'>Manage stores</button>
        </div>
        <div class='form-group'>
            <button type='submit' name='brands' formaction='/brands' class='btn btn-info'>Manage brands</button>
        </div>
    </form>
{% endblock %}
