{% extends 'template.html.twig' %}

{% block content %}
    <form method='get'>
        <button type='submit' name='stores' formaction='/stores'>Manage stores</button>
        <button type='submit' name='brands' formaction='/brands'>Manage brands</button>
    </form>
{% endblock %}
