{% extends 'template.html.twig' %}

{% block content %}
    {% if all_stores is not empty %}
        {% for store in all_stores %}
            <h3><a href='/stores/{{ store.getId }}'>{{ store.getName }}</a></h3>
            {% if store.getBrands is not empty %}
                <p>Available brands:</p>
                <ul>
                    {% for brand in store.getBrands %}
                        <li>{{ brand.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no stores in the database.</p>
    {% endif %}
    <h3>Add a store:</h3>
    <form action='/stores' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='store-name' type='text'>

        <button type='submit'>Add</button>
    </form>

    <p><a href='/'>Home</a></p>
{% endblock %}
