<!DOCTYPE html>
<html>
    <head>
        <link href='/../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Shoe stores</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Shoe Store Tracker</h1>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
